{% extends "base2.html" %}

{% block title %}About Depots{% endblock %}

{% block content %}

<div style="float:left;width:450px;margin-left:50px;">
	<img src="Static/images/Screenshot-Depots.png" alt="iPhone App Screenshot" />
</div>
<div style="float:left;width:400px; ">
	<h3>About Depots</h3>

	Depots allow you to access tags at a location you've been.  Simply drop a depot where you are at and it will stay there until you pick it up.  
	<br/><br/>    
	Once you drop a depot, you can pick up and drop tags from that location, even when you're not physically at that location.
	<br/><br/>
	Earning multiple depots allows you to pickup from one depot and drop at another.
	<br/><br/>
	You can pickup and drop depots as many times as you want so experiment and have fun!!
	<br/><br/>
	<h4>Restrictions</h4>
	You can only drop a tag at each depot once.
</div>


{% endblock %}