{% extends "base2.html" %}

{% block title %}About Points {% endblock %}

{% block content %}

<div style="float:left;width:450px;margin-left:50px;">
	<img src="Static/images/Screenshot-Points.png" alt="iPhone App Screenshot: Points" />
</div>
<div style="float:left;width:400px; ">
	<h3>About Points</h3>

	<br/><br/>	
	Earn points by carrying tags.  Points give you more Depots and also increase your payout.  Payout is the way you travel fast and easy!!
	<br/><br/>
	You are not forced to carry a tag in any specific direction, but remember, the goal is to bring a tag towards its destination.
	<br/><br/>
	Initially, tags give you 1 point per mile, but has the level goes up, payout increases too.
	<br/><br/>
	<table border="1" cellpadding="3" cellspacing="0">
		<tr>
			<th>Level</th>
			<th>Payout</th>
		</tr>
		<tr>
			<td>Level 1</td>
			<td>1 point per mile</td>
		</tr>
		<tr>
			<td>Level 2</td>
			<td>1.15 point per mile</td>
		</tr>
		<tr>
			<td>Level 3</td>
			<td>1.3 point per mile</td>
		</tr>
		<tr>
			<td>Level 4</td>
			<td>1.45 point per mile</td>
		</tr>
		<tr>
			<td colspan="2">etc...</td>
		</tr>
	</table>
	<br/><br/>
	<table border="1" cellpadding="3" cellspacing="0">
		<tr>
			<th>Level</th>
			<th>Points Needed</th>
		</tr>
		<tr>
			<td>Level 1</td>
			<td>0 points</td>
		</tr>
		<tr>
			<td>Level 2</td>
			<td>500 points</td>
		</tr>
		<tr>
			<td>Level 3</td>
			<td>1500 points</td>
		</tr>
		<tr>
			<td>Level 4</td>
			<td>3000 points</td>
		</tr>
		<tr>
			<td colspan="2">etc...</td>
		</tr>
	</table>
	<br/><br/>
	
	<br/><br/>
	
</div>


{% endblock %}