<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" >
<head>
	<title>JourneyTag: {% block title %}coming to the app store soon{% endblock %}</title>
	<link rel="stylesheet" href="/Static/css/style.css" type="text/css" media="screen" title="no title" charset="utf-8"/>
	<meta name="verify-v1" content="/EDw3nPmv33sPrk/1+7+dxs7dd/t1iz6kfuas7ugjZY=" />
</head>
<body>
	<div style="background-color:yellow; text-align:center; font-size:1.2em;">
		Excuse my dust, site is under construction
	</div>
	<div style="width:950px;">
		<img src="/Static/images/Logo.png" alt="JourneyTag Logo" />
		<img src="/Static/images/World.png" alt="World" />
		<br/>
		<span style="font-size:2em; font-weight:bold;margin-left:30px;">Travel the world from the comfort of your iPhone.</span>
	</div>
	<br/>
	<div style="margin-left:50px;">
		<a href="/" >Home</a> | <a href="/support">Support</a> | <a href="/about_company">About</a>
	</div>
	<br/><br/><br/>
	<br style="clear:both;" />
	<div style="width:950px;padding:10px;">
		{% block content %}{% endblock %}
	</div>
	<br style="clear:both;"/>
	

<br/><br/><br/>
&copy;2009 Ben Ford

<script type="text/javascript">
var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
</script>
<script type="text/javascript">
try {
var pageTracker = _gat._getTracker("UA-10358605-1");
pageTracker._trackPageview();
} catch(err) {}</script>

</body>
</html>