{% extends "base2.html" %}

{% block title %} Home {% endblock %}

{% block content %}

<div style="float:left;width:450px;margin-left:50px;">
	<img src="Static/images/Screenshot-Pickup2.png" alt="iPhone App Screenshot" />
</div>
<div style="float:left;width:400px; ">
	<div style="float:left; border:1px dashed black;padding:5px;">
	<span style="color:red;font-weight:bold;">Special Notice:</span> 
	<span style="font-weight:bold;">Because the game is so new, it's going to take a some <span style="text-decoration:underline;">teamwork</span> to get going.  </span>
	<br/>
	<a href="start">You can help!</a>
	</div>

	<br style="clear:both;"/><br/>
	JourneyTag is a new iPhone game that lets you travel virtually to places around the world.  How does it work?  You create a "tag" with a destination, then drop it for someone to find.  Like a relay race, other players pick up and carry your tag a step closer to the destination.  With each stop, you get a picture and a mark on the map to document the journey.
	<br/>
	<a href="about_tags">More about tags</a>
	
	<br/><br/>
	Earn points and level up by carrying other player's tags.  The more points you earn, the more your tags payout to other players.  This allows you to travel faster and easier.
	<br/>
	<a href="about_points">More about points</a>
	
	<br/><br/>
	Use depots, which allow you to instantly travel to places you have already been.  The first depot is free and the rest have to be earned.
	<br/>
	<a href="about_depots">More about depots</a>
	<br/><br/>
	JourneyTag is FREE!  Go download it and start traveling immediately.
	<br/><br/>
	<a href="http://itunes.apple.com/WebObjects/MZStore.woa/wa/viewSoftware?id=332565866&mt=8">
	<img src="/Static/images/AppStoreBadge.png" alt="Available on the App Store" />
	</a>
	
</div>


{% endblock %}

