{% extends "base2.html" %}

{% block title %} Home {% endblock %}

{% block content %}

<h2 style="color:red;font-weight:bold;">Latest News:</h2> 

<h3>March 30, 2010</h3>
<span>JourneyTag 1.0.3 was submitted to the AppStore.
<br />
<br />
This should be approved in next 24 to 48 hours.
<pre>
New Features:
-increased drop accuracy to 300 meters
</pre>
</span>

	<h3>March 13, 2010</h3>
	<span>JourneyTag 1.0.2 was submitted to the AppStore.
<br />
<br />
<pre>
New Features:
-removed Ads
-improved GPS information on drop screen

Bug fixes:
-improved keyboard behavior
-fixed a crash or two
</pre>
	</span>

	<h3>March 5, 2010</h3>
	<span>The entire code-base for JourneyTag is <a href="http://github.com/bentford/JourneyTag"> available on GitHub</a>. 
		
	<br /><br />
	If you want to contribute fixes and/or features, head on over to GitHub check it out!
	</span>

	<h3>September 29, 2009</h3>
	Because the game is so new, it's going to take a some <span style="text-decoration:underline;">teamwork</span> to get going.
	<br/>
	<a href="start">You can help!</a>




{% endblock %}